# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/dataSources.xml
.idea/deployment.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sparta_django_portals.iml
.idea/webServers.xml
venv/
